<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR</title>
    <style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
    }
    </style>
</head>
<body>
    <h1>Employees</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Job</th>
                <th>Salary</th>
                <th>Is underpaid?</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>
                    <a href="#">{{ employee }}</a>
                </td>
                <td>{{ employee.birthdate }}</td>
                <td>{{ employee.job }}</td>
                <td>{{ employee.salary }}</td>
                <td>
                {% if employee.salary < 100000 %}
                    YES
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>